@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
}

.ulindex {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lindex {
    display: inline-block;
    padding: 10px 20px;
}

.aindex{
    text-decoration: none;
    color: #555;
}

.banner img {
    width: 100%;
    vertical-align: bottom;
}

footer {
    background: #999;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}



/** ABOUT **/



#tituloabout {
    color: black;
    width:100%;
    text-align: center;
    font-size: 40px;
    margin: 15% 0% -2%;
}

#fraseabout1 {
    color: black;
    width:100%;
    text-align: center;
    font-style: normal;
   
}

#fraseabout2 {
    color: black;
    width:100%;
    text-align: center;
    
}

.bannerabout img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#footerabout {
    background: #999;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}



/** MUSIC **/



#titulomusic {
    color: black;
    width:100%;
    text-align: left;
    font-size: 40px;
    margin: 15% 10% -2%;
}

.listamusic {
    margin: 5% 10% -2%;
}

#video2 {
    margin: 5% 10% -2%;
}

#pmusic {
    margin-left: 10%;
    margin-top: 5%;
}




/** CONTACT **/



#titulocontact {
    color: black;
    width:100%;
    text-align: left;
    font-size: 40px;
    margin: 15% 10% -2%;
}

#formcontact {
    margin: 5% 10% -2%;

}

label {

    width: 90px;
    text-align: right;
}

input {
    display: block;
    width: 500px;
    height: 30px;
  }
    
textarea {
    display: block;
    width: 500px;
    height: 50px;
}

#radiocontact {
    margin: 5% 10% -2%;
}

.labelcontact[type="radio"] + label:before{
    border: 1px solid #5D5C5C;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
    border-radius:4px;

}